{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "react/jsx-no-undef": 0,
    "react/prop-types": 0,
    "arrow-parens": [2, "as-needed"],
    "camelcase": 2,
    "react/jsx-filename-extension": 0,
    "no-undef": 0,
    "react/no-unused-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0
  }
}